<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{index.titulo}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
	<!-- CSS only bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</head>
<body>
	<div class="starter-template">
	    <h2>
        	<span th:text="'Bienvenido'"/>
        </h2>
		<h1 th:text="#{index.titulo}"></h1>
		</br>
		</br>
		<h1 th:text="'Bachot Mariano - Scipioni Martina - Gonzalez Nicolas'"></h1>
		</br>
		</br>
		<button type="button" class="btn btn-outline-success"><a th:href="personasBuscar">Buscar Personas</a></button>
		<button type="button" class="btn btn-outline-success"><a th:href="personasEditar">Registrar Persona</a></button>
		<button type="button" class="btn btn-outline-success"><a th:href="ciudadesBuscar">Buscar Ciudades</a></button>
		<button type="button" class="btn btn-outline-success"><a th:href="ciudadEditar">Registrar Ciudad</a></button>
		<br><br>
		<button type="button" class="btn btn-outline-success"><a th:href="climaBuscar">Mostrar Clima</a></button>
		<button type="button" class="btn btn-outline-success"><a th:href="climaEditar">Registrar Clima</a></button>
		<button type="button" class="btn btn-outline-success"><a th:href="pronosticosBuscar">Mostrar Pronosticos</a></button>
		<button type="button" class="btn btn-outline-success"><a th:href="pronosticoEditar">Registrar Pronostico</a></button>
		<button type="button" class="btn btn-outline-success"><a th:href="alertaMetereologica">Registrar Alerta</a></button>
    </div>
  </body>
</html>