<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{index.titulo}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
  <body>
	
    
   <div class="starter-template">
        <h1 th:text="#{index.titulo}"></h1>
        <h2>
            <span th:text="'Bienvenido'"></span>
        </h2>
    </div>
    <a th:href="personasBuscar">Buscar Personas</a>
    <a th:href="personasEditar">Registrar Persona</a>
    <a th:href="ciudadesBuscar">Buscar Ciudades</a>
    <a th:href="ciudadEditar">Registrar Ciudad</a>
	<a th:href="pronosticoEditar">Registrar Pronostico</a>
	<a th:href="pronosticosBuscar">Mostrar Pronosticos</a>
	<a th:href="alertaMetereologica">Registrar Alerta</a>
  </body>
</html>