<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title><span th:text="#{pronostico.buscar.titulo}"></span></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

<script>
    $(document).ready(function(){
      var date_input=$('input[name="fechaPronostico"]'); 
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'dd/mm/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>


<body>
	<div class="starter-template">
        <h1><span  th:text="#{empresa}" /></h1>
        <h2>
            <span th:text="#{pronostico.buscar.titulo}"></span>
        </h2>
    </div>
	<form  th:action="@{/pronosticosBuscar}" th:object="${formBean}" method="post">
		<table border="1" style="align-self: center;">
			
		        <tr>
		           <td><label th:text="#{pronostico.ciudad}" /></td>
		           <td>
			        <select th:field="*{idCiudadSeleccionada}">
						<option th:value="null" text="Seleccione una opción"></option>
					    <option th:each="c : ${allCiudades}" 
					          th:value="${c.id}" 
					          th:text="${c.nombre}"></option>
					</select>
				</td>
			</tr>
			<tr>
            	<td><label th:text="#{pronostico.f.nac}" /></td>
            	<td><input type="text" id="fechaPronostico" autocomplete="off" th:field="*{fechaPronostico}" placeholder="DD/MM/YYYY" /></td> 
            	<td> <p th:if="${#fields.hasErrors('fechaPronostico')}" th:errorclass="error" th:errors="*{fechaPronostico}" /> </td>          
			</tr>
		</table>

		  <table class="botones">
		
		      <tr>
			      <td><input type="submit" name="action" value="Buscar" /></td>
			      <td><input type="submit" name="action" value="Cancelar" /></td>
			       <td><input type="submit" name="action" value="Registrar" /></td>
		      </tr>
		        
		    </table>
		    
		    
		    <table  class="resultados" border="0" style="align-self: center;">
			    <thead>
			      <tr>
			        <th ><label th:text="#{pronostico.idPronostico}" /></th>
			        <th ><label th:text="#{pronostico.fechaPronostico}" /></th>
			        <th ><label th:text="#{pronostico.ciudad.nombre}" /></th>
			        <th ><label th:text="#{pronostico.porcentajeLluvia}" /></th>
			        <th ><label th:text="#{pronostico.probabilidadLluvia}" /></th>
			        <th ><label th:text="#{pronostico.descripcion}" /></th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr th:each="p : ${resultados}">
					    <td th:text="${{p.idPronostico}}"></td>
				        <td th:text="${{p.fechaPronostico}}"></td>
				        <td th:text="${{p.ciudad.nombre}}" ></td>
				        <td th:text="${{p.porcentajeLluvia}}"></td>
				        <td th:text="${{p.probabilidadLluvia}}" ></td>
				        <td th:text="${{p.descripcion}}" ></td>
				        <td>
		                    <a th:href="@{/pronosticoEditar/{idPronostico}(idPronostico=${p.idPronostico})}" class="btn btn-primary">
		                        editar
		                    </a>
		                </td>
			      </tr>
			    </tbody>
		    </table>
		</form>
</body>
</html>	